/* ------------------------------------------------------------------------------

  Template Name: Richard.
  Description: Richard. - Easy Onepage Personal Template
  Author: Paul
  Author URI: http://themeforest.net/user/paul_tf

  1.  Global

      1.1 General
      1.2 Typography
      1.3 Fields
      1.4 Buttons
      1.5 Icons
      1.6 Loader
      1.7 Backgrounds
      1.8 Colors

  2.  Navbar

      2.1 Navbar Desctop
      2.2 Navbar Mobile
      2.3 Navbar Fixed

  3.  Main

      3.1 Masthead
      3.2 Sections
      3.3 About
      3.4 Projects
      3.5 Testimonials
      3.6 News
      3.7 Partners

  4.  Footer
  5.  Modal



/*-------------------------------------------------------------------------------
  1. Global
-------------------------------------------------------------------------------*/



/* 1.1 General */



@import url('bootstrap.min.css');
@import url('aos.css');
@import url('magnific-popup.css');
@import url('owl.carousel.min.css');



html{
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.625em;
  color:#000;
  min-width: 320px;

}
.img-calefaccion{
  width: 68px;
  height: auto;
}
.descripcion{
  width: 463px;
height: 103px;
font-family: "Open Sans";
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: right;
color: #3d3d3d;
opacity: 0.75;

}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #de0b1d;
}

::selection{
  background-color:#de0b1d;
  color:#fff;
}

-webkit-::selection{
    background-color:#de0b1d;
    color:#fff;
}

::-moz-selection{
    background-color:#de0b1d;
    color:#fff;
}



/* 1.2 Typography */



.texto-right-header {

  text-align: right

}


.text-white-banner h6
.text-white-banner h2
.text-white-banner p {

 color: #ffff

}

.text-right-01 h6,
.text-right-01 h3,
.text-right-01 p {  text-align: right;

}



.text-right-02 h6,
.text-right-02 h3,
.text-right-02 p {  text-align: right;

}


.text-white-02
 {  color:#fff;

}




.text-white-03
{  color: #fff

}



.text-right-03 h6,
.text-right-03 h3,
.text-right-03 p {  text-align: right;

}



.text-right-04 h6,
.text-right-04 h3,
.text-right-04 p {  text-align: right;

}


.text-white-04
 {  color:#fff;

}


.text-right-05 h6,
.text-right-05 h2,
.text-right-05 h3,
.text-right-05 p {  text-align: right;

}





h1,
.h1{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.125rem;
  font-weight: 700;
  line-height: 1.05;

  text-align: right;
}

h1 .mark,
.h1 .mark{
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: #000;
  transform: rotate(-0.5deg);
  padding: 0; background: none;
  text-align: right;
}


h1 .mark:before,
.h1 .mark:before{
  content:'';
  position: absolute;
  top:0.5rem;
  bottom:0.4rem;
  left:0rem;
  right:0;
  background-color: #000;
  transform: rotate(-0.5deg)
}

h1 .mark span,
.h1 .mark span{
  position: relative;
}

h2,
.h2{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.2;
  text-align: right;
  margin:2rem 0

}

h2 .mark,
.h2 .mark{
  position: relative;
  display: inline-block;
  color: #fff;
  padding:0;
  background: none;
}

h2 .mark:before,
.h2 .mark:before{
  content:'';
  position: absolute;
  top:0.5rem;
  bottom:0.4rem;
  left: 0rem;
  right: 0rem;
  background-color: #000;
  transform: rotate(-0.5deg)
}

h2 .mark span,
.h2 .mark span{
  position: relative

}

h3,
.h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.925rem;
  line-height: 1.25;
  text-align: right;
  margin:1.5rem 0;
}

h4,
.h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.325rem;
  line-height: 1.2;
  text-align: right;
  margin:1.5rem 0;
}

h5,
.h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: right;
  margin:1.2rem 0;
}

h6,
.h6{
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: right;
  margin:1rem 0;
  text-transform: uppercase;
}


h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a{
  color:inherit;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover,
h5 a:hover,
.h5 a:hover,
h6 a:hover,
.h6 a:hover{
  text-decoration: none;
}

p{
  margin-bottom: 1rem;
}

ul{
  list-style: none;
  padding-left: 0;
}

a {
  color:#de0b1d;
  -webkit-transition: color .3s ease-out;
       -o-transition: color .3s ease-out;
          transition: color .3s ease-out;
}

a:hover,
a:focus {
  color:#de0b1d;
  outline: none;
}

a:focus{
  text-decoration: none;
}

.lead{
  line-height: 1.9;
  font-size: 1.125rem;
  text-align: right;
}



/* 1.3 Fields */



.form-control,
textarea.form-control{
  font-size: 1em;
  height: 3.625em;
  border-radius: 0;
  padding-left: 22px;
  color: #343434;
  background-color: transparent;
  border:0;
  border-bottom:1px solid #c3c3c3;
  -webkit-box-shadow:none;
          box-shadow:none;
      -webkit-appearance: none;
  -webkit-transition: all .15s;
       -o-transition: all .15s;
          transition: all .15s;
}

textarea.form-control{
  height: 7.9em;
  padding-top:1.1em;
  resize:none;
}

.form-control:focus{
  border-color:#de0b1d;
  outline: 0;
  -webkit-box-shadow:none;
          box-shadow:none;
}

.form-control::-moz-placeholder {
  color: #343434;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #343434;
}

.form-control::-webkit-input-placeholder {
  color: #343434;
}

label.error{
  border-color:#de0b1d;
  padding:9px 0 0 22px;
  font-size:0.9rem;
}

.mc-label{
  padding:9px 0 0 22px;
  font-size:0.9rem;
  color: #fff;
}

.input-group .form-control{
  background-color: #fff;
  border-radius: 30px 0  0 30px;
}



/* 1.4 Buttons */

.btn-close-1,
.btn-close-2{
  margin-top: 10px;
  padding: 1em 1.2em 1em !important;
  font-size: 0.8em !important;
}

.btn-right-entorno{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  position:  fixed ;
  right: 0% ;
  display: inline-block;
  border-radius: 30px;
  padding:1.2em 2.4em 1.15em;
  font-size: 0.875em;
  color:#000;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  background-color:#fff;
  border-width: 1px;
  -webkit-transition: all .3s ease-out!important;
  transition: all .3s ease-out!important;
}




.btn-right-entorno:hover,
.btn-right-entorno:focus,
.btn-right-entorno:active{
  color: #000;
  background-color: #d7dde1;
  text-decoration: none;

}




.btn-right-send{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  position:  fixed ;
  right: 0% ;
  display: inline-block;
  border-radius: 30px;
  padding:1.2em 2.4em 1.15em;
  font-size: 0.875em;
  color:#fff;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  background-color:#000;
  border-width: 1px;
  -webkit-transition: all .3s ease-out!important;
  transition: all .3s ease-out!important;
}


.btn-right-send:hover,
.btn-right-send:focus,
.btn-right-send:active{
  color: #fff;
  background-color: #3d3d3d;
  text-decoration: none;

}










.btn{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  padding:1.2em 2.4em 1.15em;
  font-size: 0.875em;
  color:#fff;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  background-color:#de0b1d;
  border-width: 1px;
  -webkit-transition: all .3s ease-out!important;
          transition: all .3s ease-out!important;
}





.btn:hover,
.btn:focus,
.btn:active{
  color: #fff;
  background-color: #b50010;

}




/* 1.5 Icons */


ion-icon{
  color:#de0b1d;
  font-size: 3.8rem;
  --ionicon-stroke-width: 17px;

}

.icon-video-play{
  position:relative;
  display: inline-block;
  width:5.15rem;
  height: 5.15rem;
  background-color:#de0b1d;
  border-color:#de0b1d;
  border-radius: 50%;
  transition:all 0.3s ease;
}

.icon-video-play:before{
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-6px 0 0 -5px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent #fff;
}

.icon-video-play:hover{
  border:1px solid #de0b1d;
  color: #343434;
  background-color: transparent;
}

.icon-video-play:hover:before{
  border-color: transparent transparent transparent #de0b1d;
}


/* 1.6 Loader */



.loader{
  position:absolute;
  z-index: 10;
  z-index: 100;
  left: 0;
  width: 100%;
  top:0;
  height: 100%;
  background: #fff;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #de0b1d;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



/* 1.7 Backgrounds */


.bg-light{
  background: #3d3d3d!important;
}

.bg-dark{
  background:#000!important;
  color:#fff;
}

.bg-dark .row-experience:nth-child(even){
  background-color:#272727;
}

.bg-dark .btn:hover,
.bg-dark .btn:focus{
  color: #fff
}

.bg-primary{
  background:#de0b1d!important;
  color:#fff;
}

.bg-dark .progress{
  background: #383838;
}

/* 1.8 Colors */



.text-dark{
  color:#0000!important;
}

.text-white{
  color:#fff!important;
}

.text-gray{
  color:#000!important;
}

.text-primary{
  color:#de0b1d!important;
}



/*-------------------------------------------------------------------------------
  2. Navbar
-------------------------------------------------------------------------------*/



.navbar{
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 0 3rem;
  border-bottom: 1px solid rgba(52,52,52,0.1);
  height:4.7rem;
}

.navbar{
  padding: 0 1.5rem;
}

@media(min-width: 992px){
  .navbar{
    padding: 0 3rem;
  }
}

.navbar,
.navbar a,
.navbar a:hover,
.navbar a:focus{
  color:#343434;
}

.toggler{
 width:2rem;
 height: 2rem;
 padding:0;
 background: none;
 border:0;
}

.toggler:focus{
  outline: none;
}

.toggler-icon{
  display: block;
  border-top:2px solid #343434;
  margin-top: 0.5rem;
}

.toggler-icon:first-child{
  margin-top: 0;
}

.navbar-brand{
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-size:1.875rem;
  font-weight: 700;
  color:#fff;
  margin-right: 4rem;
  padding:0;
  line-height: 1;
}

.navbar-brand:hover,
.navbar-brand:focus{
  color:#fff;
}

.navbar ul{
  margin-bottom:0;
}

.navbar-desctop .social-icons{
  margin:0.38rem 0 0 -1.5rem;
}

.navbar-desctop .phone{
  position: relative;
  top:0.3rem;
  margin-left: 4rem;
}

.social-icons{
  margin-left: -1.5rem;
}

.social-icons li{
  float: left;
  margin-left: 1.5rem;
}

.social-icons ion-icon{
  display: block;
  font-size:1.2rem;
  color:#343434;
  transition: all 0.3s ease;
}

.social-icons ion-icon:hover{
  color: #de0b1d;
}



/* 2.1 Navbar Desctop */



.navbar-desctop:before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 0;
  background:#fff;
  transition: all 0.3s ease;
}

.navbar-nav-desctop{
  font-family: 'Montserrat', sans-serif;
  font-size:0.8rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-top:0.3rem;
}

.nav-link{
  padding: 0;
}

.navbar-nav-desctop li a{
  color: #343434;
  transition:all 0.3s;
}

.navbar-nav-desctop li a:hover{
  text-decoration: none;
}

.navbar-nav-desctop > li{
  position: relative;
  float: left;
  margin-right: 2.1rem;
}

.navbar-nav-desctop > li > a{
  display: flex;
  align-items: center;
}

.navbar-nav-desctop > li > .active,
.navbar-nav-desctop >  li:hover > a{
  color:#767676;
}

.navbar-nav-desctop li ul{
  opacity: 0;
  visibility: hidden;
  padding:0.7rem 1.8rem;
  position: absolute;
  top:85%;
  background:#1a1c26;
  color:#000;
  min-width: 12rem;
  margin-left: -1.5rem;
  transition:all 0.3s linear;
}

.navbar-nav-desctop li:hover ul{
  top:100%;
  opacity: 1;
  visibility: visible;
}

.navbar-nav-desctop li ul li{
  margin:1rem 0;
}

.navbar-nav-desctop li ul li a{
  opacity: 0.5;
  display: block;
}

.navbar-nav-desctop li ul .active a,
.navbar-nav-desctop li ul li:hover a{
  opacity: 1;
}



/* 2.2 Navbar Mobile */


.click-capture{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  background: rgba(0,0,0,0.3);
  transition: opacity 0.5s;
}

.navbar-mobile{
  display: block;
  align-items: baseline;
  flex-wrap: unset;
  padding:1.5rem 2.6rem 1.3rem;
  position: fixed;
  top:0;
  bottom:0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: -ms-flexbox;
  box-shadow:0 0 50px rgba(0,0,0,0.1);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.navbar-mobile .social-icons{
  margin-top:0;
}

.navbar-mobile .close{
  position: absolute;
  right: 1rem;
  top:0.5rem;
  font-size: 3rem;
  color: #343434;
  transition:all 0.3s ease;
  cursor: pointer;
}

.navbar-mobile .close:hover{
  opacity: 1;
}

@media (min-width: 576px){
  .navbar-mobile{
    width: 50%;
    max-width: 32rem;
  }
}

.navbar-mobile-footer{
  margin-top: auto;
}

.navbar-nav-mobile{
  text-align: right;
  
  display: block;
  font-size:3.6vh;
  margin-top: 8vh;
  font-weight: 300;
}





.navbar-nav-mobile  li{
  margin-bottom: 5vmin;
}

.navbar-nav-mobile li a{
  color:#000;
}

.navbar-nav-mobile li .active,
.navbar-nav-mobile  li a:hover{
  color:#343434;
}

.menu-is-open{
  overflow:hidden;
}

.menu-is-open .navbar-mobile{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.menu-is-open .click-capture{
  visibility: visible;
  opacity: 1;
}


/* 2.3 Navbar Fixed */



.navbar.fixed{
  position: fixed;
  z-index: 10;
  top:0;
  box-shadow:0 0 30px rgba(0,0,0,0.1);
}

.navbar.fixed:before{
  height: 100%;
}


/* 2.4 Navbar White */


.navbar-white{
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbar-white:not(.fixed) .phone,
.navbar-white:not(.fixed) a,
.navbar-white:not(.fixed) a:hover{
    color: #fff;
}

.navbar-white:not(.fixed) .navbar-nav-desctop li a{
  color: #fff;
}

.navbar-white:not(.fixed) .navbar-nav-desctop > .active > a,
.navbar-white:not(.fixed)  .navbar-nav-desctop > li > .active,
.navbar-white:not(.fixed)  .navbar-nav-desctop > li:hover > a {
    color: #de0b1d;
}

.navbar-white:not(.fixed) .social-icons ion-icon{
  color: #fff;
}

.navbar-white:not(.fixed) .social-icons ion-icon:hover{
  color: #de0b1d;
}

.navbar-white:not(.fixed) .toggler-icon{
  border-color: #fff;
}


/*-------------------------------------------------------------------------------
  3. Main
-------------------------------------------------------------------------------*/



/* 3.1 Masthead */

#home{
  background-image:url('../img/bg/Foto-Guia-Home-min.jpg');
}


.masthead{
  position: relative;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  padding:9rem 0 5rem 0;
  background-position: left top;
  background-size: cover;
}

.opener{
  position: relative;
  z-index: 1;
  width: 100%;
}

.opener .modal-content{
  background-color: rgba(255,255,255,0.9);
}

.vista-360,
.vista-360-2{
  width: 90%;
  height: 75%;
  margin-top: 5%;
  margin-left: 4%;
  border: 2px solid #fff;
}
.vista-360-container,
.vista-360-container-2{
  position: absolute;
  margin: auto;
  width: 100%;
  height: auto;
  top: 0;
  background-color: rgba(7,7,7,0.7);
  z-index: 1;
}


/* 3.2 Sections */



.section{
  position: relative;
  padding:9rem 0;
}

.section-sm{
  padding: 6rem 0;
}

.pp-section{
  background: #fff;
  background-position: 50%;
  background-size: cover;
  padding:8rem 0 6rem;
}

.section:not(#home) .intro{
  opacity: 0;
  transform:translateY(130px);
  transition:all 1.3s;
}

.section:not(#home) .intro.animate{
  opacity: 1;
  transform:translateY(0);
}

.pp-scrollable{
  padding:0;
  overflow-x: hidden;
}

.pp-scrollable .intro{
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.pp-scrollable .intro:before{
  content:'';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
}

.pp-scrollable .scroll-wrap{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 8rem 0 6rem;
  white-space: normal;
}

.intro .h1{
  font-size: 4.125rem;
}

.intro h2{
  font-size: 2.92325rem;
}

#pp-nav li, .pp-slidesNav li{
  margin:14px;
}

#pp-nav span, .pp-slidesNav span{
  border:0;
  background-color: #343434;
}

#pp-nav.pp-nav-white span, .pp-slidesNav span{
  background-color: #fff;
}

#pp-nav li .active span, .pp-slidesNav .active span{
  background-color: #de0b1d!important;
}

.section h2{
  margin-top: 0;
}

.bg-responsive{
  position: absolute;
  height: 100%;
  top:0;
  padding: 0;
}

.masked .btn:hover,
.masked .btn:focus{
  color: #fff;
}

.masked:before{
  content:'';
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background:rgba(52,52,52,0.35);
  }

@media (max-width: 767px){
  .masked-sm:before{
    content:'';
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background:rgba(52,52,52,0.35);
  }
}

.jarallax {
    position: relative;
    z-index: 0;
}

.bg-responsive.jarallax{
  position: absolute!important
}

.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



/* 3.3 About */


.experience{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.experience-number{
  display: inline-block;
  font-size: 10rem;
  line-height: 1;
}

.experience-number.v2{
  position: relative;
  top:-1.4rem;
  color: #fff;
  padding:0 0.4rem;
  font-weight: 500;
}

.experience-number.v2:before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0.7rem;
  bottom: 0.6rem;
  background-color: #de0b1d;
}

.text-parallax{
  background: url(../img/bg/text-parallax.jpg) 50% 50% no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-parallax2{
  background: url(../img/bg/text-parallax.jpg) 50% 50% no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row-experience{
  padding:2rem 0;
}

.row-experience:nth-child(even){
  background: #f4f4f4;
  border-color:transparent;
}

.row-experience p{
  margin-bottom: 0;
}

.progress{
  height: 0.5rem;
  background-color: #f2f2f2;
}

.progress-bar{
  position: relative;
  background-color: transparent;
}

.progress-bar:before{
  background:#de0b1d;
  content:'';
  width:100%;
  height: 100%;
  transition:all 0.3s ease;
}

.progress-bar[data-aos="width"]:before{
  width: 0;
}

.aos-animate.progress-bar[data-aos="width"]:before{
  width: 100%;
}



/* 3.4 Projects */



.project-item figure{
  margin:0;
}

.project-item figcaption{
  position:absolute;
  left:2rem;
  bottom:2rem;
}

.project-item figcaption p{
  margin-bottom: 0;
}

.project-item h3{
  color: #fff;
  display: inline-block;
  background: #343434;
  padding: 0.2rem 0.5rem;
}

.zoom-anim-dialog {
  position: relative;
  background: #fff;
  padding: 2.2rem;
  margin: 2rem auto;
}

.project-features {
  margin-top:4rem;
}

.project-features li{
  display:flex;
  align-items: center!important;
  overflow:hidden;
  padding-bottom: 0.7rem;
  margin-bottom: 0.7rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

/*
* Fade-zoom animation for first dialog
*/
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-close-btn-in .mfp-close{
  color: #000;
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-iframe-holder .mfp-content{
  max-width: 1170px;
}


/* 3.5 Testimonials */



.testimonials{
  border-top: 1px solid rgba(0,0,0,0.1);
}

.col-testimonial{
  position: relative;
  padding: 6.2em 3.75em 0 3em;
}

.col-testimonial .quiote{
  position: absolute;
  left:0rem;
  top:4rem;
  font-size:13rem;
  opacity: 0.11;
}

.testimonials-2 .col-testimonial{
  padding-top: 2rem;
}

.owl-dots{
  position: absolute;
  width: 100%;
  margin-top:3.5rem;
  text-align: center;
}

.owl-dot{
  display: inline-block;
  margin:0 0.35rem;
}

.owl-dot:focus{
  outline: none;
}

.owl-dots span{
  display: block;
  width: 9px;
  height:9px;
  border-radius: 50%;
  background-color: #d6d6d6;
}

.owl-dot.active span{
  background-color: #de0b1d;
}

.owl-nav{
  position: absolute;
  left:0;
  width: 100%;
  top:50%;
  font-size:10rem;
  transform:translateY(-50%);
}

.owl-prev{
  position: absolute;
  left:-10rem;
  opacity: 0.15;
  transition: all 0.3s;
}

.owl-next{
  position: absolute;
  right:-10rem;
  opacity: 0.15;
  transition: all 0.3s;
}

.owl-prev:focus,
.owl-next:focus{
  outline: none;
}

.owl-prev:hover,
.owl-next:hover{
  opacity: 1!important;
}

.carousel-project-2 .owl-nav button.owl-prev{
  left: 1rem;
  color: #fff;
  opacity: 0.5;
}

.carousel-project-2 .owl-nav button.owl-next{
  right: 1rem;
  color: #fff;
  opacity: 0.5;
}



/* 3.6 News */



.row-news{
  margin-top: -30px;
}

.col-news{
  margin-top: 30px;
}

.col-news figure{
  background-color: #fff;
  box-shadow: 0 0 35px rgba(0,0,0,0.05);
  margin:0;
}

.col-news figure a img{
  transition:all 0.3s ease;
}

.col-news figure a:hover  img{
  opacity: 0.7;
}

.col-news figure .date{
  position: absolute;
  left: 1.1rem;
  bottom: 0;
  background-color: #de0b1d;
  color: #fff;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-size: 0.9rem;
  letter-spacing: 1;
}

.col-news figcaption{
  padding: 1.8rem 1.1rem 2rem;
}

.col-news figcaption h5{
  margin:0 0 1rem 0;
}


/* 3.7 Partners */



.row-partner{
  margin:0 -4rem;
}

.col-partner{
  padding:0 4rem;
  text-align: center;
}

.col-partner img{
  max-width: 100%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.col-partner img:hover{
  opacity: 1;
}


/*-------------------------------------------------------------------------------
  4. Footer
-------------------------------------------------------------------------------*/


footer{
  color:rgb(69, 69, 69);
}

footer a{
  color:  #454545;
}

footer a:hover{
  fill:#de0b1d!important;
  text-decoration: none;
}

footer ul{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  color:  #454545;
  letter-spacing: 1px;
}

footer ul li{
  margin-bottom: 0.5rem;
}

footer .social-icons ion-icon{
  color: #454545;
}

.footer-copy{
  padding:2rem 0;
  background-color:  #454545;
  font-size: 0.8rem;
  color: #454545;
}



/*-------------------------------------------------------------------------------
  4. Modal
-------------------------------------------------------------------------------*/


.modal-content{
  border-radius: 30px;
}

.modal-header,
.modal-body,
.modal-footer{
  padding: 1.7rem;
  border:0;
}

.modal-header{
  padding-bottom: 1.2rem;
}

.modal-header .close:focus{
  outline: none;
}

.modal-body{
  padding-top:0;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width:400px;
  }
}

.message{
  margin-bottom: 1rem;
  display: none;
  color:#de0b1d;
}

/*----------------------------------------------
                Imagenes de fondo
-----------------------------------------------*/

#bg-blanco-01,
#bg-rojo-01,
#bg-gris-01,
#bg-negro-01,
#bg-blanco-02,
#bg-rojo-02,
#bg-gris-02,
#bg-negro-02
{

  background-repeat: no-repeat;

}
